<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Toursradar - Europe Tours Tests" parallel="methods" thread-count="5">
    <listeners>
        <listener class-name="framework.CustomListeners"></listener>
    </listeners>


    <test name="Europe Tours Page Tests" enabled="true">
        <classes>
            <class name="tests.EuropeToursPageTest"/>
        </classes>
    </test>



</suite>
